@model IEnumerable<CrossoverSpa.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Indexnew";
}



<div class="row">
    <div class="container col-lg-3">
        <div class="form-group">
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" id="Search" placeholder="Search" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <a class="btn btn-info btn-sm" asp-controller="Account" asp-action="Signup">
            <span class="glyphicon glyphicon-user">New</span>
        </a>
    </div>
    
</div>
<div class="row">
    
</div>
    

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
           
        
          
            <th>
                Role
            </th>
          
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
         
           
          
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                <a asp-controller="Edit" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm" style="color:yellow">
                    <span class="glyphicon glyphicon-edit "></span> Edit 
                </a>
                <a asp-controller="Details" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm" style="color:aqua">
                    <span class="glyphicon glyphicon-list "></span>Details
                </a>
                <a asp-controller="Delete" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info btn-sm" style="color:red">
                    <span class="glyphicon glyphicon-remove "></span> Delete
                </a>
            </td>
        </tr>
}
    </tbody>
</table>


<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true;
            }
        }
        $("#Search").keyup(function () {
            var searchKey = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchKey))
                    $(this).hide();
                else {
                    $(this).show();
                }
                   
            })
        })
    })
</script>

