@model CrossoverSpa.ViewModel.RoleFeatureListViewModel
@{
    ViewData["Title"] = "Edit";
    var modules = (IEnumerable<CrossoverSpa.ViewModels.MvcModuleInfo>)ViewData["Modules"];
}
@section Header {
    <link href="~/lib/jquery-bonsai/jquery.bonsai.css" rel="stylesheet" />
}
<div class="row">
    <div style="text-align:center">
        <h4>Role: @Html.DisplayFor(model => model.Role.Name)</h4>
    </div>
</div>

<div class="row">
    <div class="container col-lg-4">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" id="Search" placeholder="Search" class="form-control">
            </div>
        </div>

    </div>
    <div class="container col-lg-9">
        <div>
            <a asp-controller="Role" asp-action="Show" asp-route-roleId="@Model.Role.Id" class="btn btn-info btn-sm" style="color:black">
                <span class="glyphicon  " style="height:5px"> Show Roles</span>
            </a>
        </div>
    </div>
</div>


<div class="row">
    <table class="table table-hover table-striped table-bordered " id="Edit_table">
        <thead>
            <tr>
                <th>
                    Feature Name
                </th>

                <th>
                    Module Name
                </th>
                <th>
                    Contoller Name
                </th>
                <th>
                    Route Url
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in modules)
            {
                foreach (var controller in item.Controllers)
                {
                    foreach (var actions in controller.Actions)
                    {
                        <tr class="Search">
                            <td>
                                @Html.DisplayFor(modelItem => actions.DisplayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => controller.DisplayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => actions.RouteLinkAction)
                            </td>

                            <td>
                                @{
                                    var news = 0;
                                }
                                @foreach (var item2 in Model.Feature)
                                {
                                    //roleId = item.Feature.ActionId;
                                    if (item2.Name.Equals(actions.DisplayName))
                                    {
                                        news = 1;

                                    }
                                }

                                @if (news == 1)
                                {
                                    <a asp-controller="Role" asp-action="DeleteRole" asp-route-roleId="@Model.Role.Id" asp-route-name="@actions.DisplayName" class="btn btn-info btn-sm" style="color:red">
                                        <span class="glyphicon glyphicon-remove " style="height:5px"> Remove</span>
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="Role" asp-action="AddRole" asp-route-roleId="@Model.Role.Id" asp-route-name="@actions.DisplayName" class="btn btn-info btn-sm" style="color:green">
                                        <span class="glyphicon glyphicon-plus "> Add</span>
                                    </a>
                                }


                            </td>
                        </tr>
                    }

                }

            }

        <tbody>
    </table>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true;
            }
        }
        $("#Search").keyup(function () {
            var searchKey = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchKey))
                    $(this).hide();
                else {
                    $(this).show();
                }
            })
        })
    })
</script>
