@model IEnumerable<CrossoverSpa.ViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Show";
}

<h2>Show</h2>

<p>
    <a asp-controller="Role" asp-action="Create">Create New Role</a>|
    <a asp-controller="Account" asp-action="SignUp">Create New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="">
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                @if (item.OldRole)

                {
                <a asp-controller="Role" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-lg " style="color:Red">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </a>
                    // @Html.ActionLink("Edit Features", "Edit", "Role", new { id = item.Id })

                }
                else
                {
                <a asp-controller="Role" asp-action="AssignFeatures" asp-route-id="@item.Id" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </a>

                }


                @*<a asp-action="Edit"
         asp-controller="Role"
        asp-route-id="@item.Id">Edit</a>*@

                @*@Html.ActionLink("Edit", "Edit Role",  new { id = item.Id })*@

            </td>
        </tr>
}
    </tbody>
</table>
