@model IEnumerable<CrossoverSpa.ViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Show";
}

<h4>Roles</h4>
<div class="row">
    <div class="container col-lg-3">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" id="Search" placeholder="Search" class="form-control" />

            </div>

        </div>

    </div>
    <div class="container col-lg-6">
        <p>
            <a asp-controller="Role" asp-action="Create" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-user"></span> Create New Role
            </a>

        </p>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th style="text-align:center">
                Your Actions
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="Search">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td style="text-align:center">
                    @if (item.OldRole)

                    {
                        <a asp-controller="Role" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm " style="color:yellow">
                            <span class="glyphicon glyphicon-edit"></span> Edit features
                        </a>
                        // @Html.ActionLink("Edit Features", "Edit", "Role", new { id = item.Id })
                        <a asp-controller="Role" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info btn-sm" style="color:red">
                            <span class="glyphicon glyphicon-edit "></span> Delete Role
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Role" asp-action="AssignFeatures" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> Add features
                        </a>
                        <a asp-controller="Role" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info btn-sm" style="color:red">
                            <span class="glyphicon glyphicon-edit "></span> Delete Role
                        </a>
                    }


                    @*<a asp-action="Edit"
                         asp-controller="Role"
                        asp-route-id="@item.Id">Edit</a>*@

                    @*@Html.ActionLink("Edit", "Edit Role",  new { id = item.Id })*@

                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true;
            }
        }
        $("#Search").keyup(function () {
            var searchKey = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchKey))
                    $(this).hide();
                else {
                    $(this).show();
                }
            })
        })
    })
</script>

